<!--  <mat-toolbar color="primary"  class="toolbar">       Syriatel Cafeteria
    <button mat-button style="margin-left: auto;" (click)="backHome()">Back</button></mat-toolbar>
 -->
<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <span>
            <h1 class="mat-h1">
               <span>🚫</span> عذرا لاتملك صلاحية الوصول الى الصفحة 
            </h1>
            <div style="text-align: center;">
                <span class="more-info">للمزيد من المعلومات ؟التواصل مع :</span>
                <h4 class="mis-title">
                    MIS-Technical Performance Information Analysis
                </h4>
            </div>
        </span>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>