.save{
    font-size:small;
    background-color:#009688;
    color: white;
    margin-top: -10px;
    
    

}
.price-input{
    margin-top: -30px;

 
}
.form {
    float: right;
    height: 25px !important;
    display:flex;
}

.Enable {
    float: right;
    color: grey;
    margin-right: 20px;
    margin-left: 20px;
}
.card-list{
    margin-top: 10px;
    border:none;
    box-shadow: none;
    padding: 25px;
}