<router-outlet>    </router-outlet>
<!----------PIPES----------------
<router-outlet></router-outlet>
<p>{{myText |lowercase}}</p>
<p> {{myText |uppercase}}</p>
<p> {{myText |titlecase}}</p>
<p> {{myText |slice :0 :5}}</p>
<p> {{myObject |json}}</p>
<p> {{myNumber |number :'6.2-2'}}</p>
<!--وضع اصفار يمين ويسار العدد--
<p> {{myNumber |percent}}</p>
<p> {{myNumber |currency :'EUR':'code'}}</p>
<p> {{myNumber |currency :'EUR':'symbol'}}</p>
<p> {{myDate |date:'dd/MM/yyyy'}}</p>
<p> {{myDate |date:'full' :'GMT+3:00'}}</p>
<!-----------Custome PIPES----------------
<p *ngFor="let x of Array |even :4"> {{x}}</p>
<button (click)="add()">add 8</button>
<!-----------Template Driven Form---------------->
<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input #name="ngModel" [ngModel]="'alaa'" name="name" type="text" required>
    <div ngModelGroup="Emails">
        <input #email1="ngModel" ngModel name="email1" type="text" email required>
        <input #email2="ngModel" ngModel name="email2" type="text" email required>
    </div>
    <mat-error *ngIf="name.touched&&f.invalid">mmmmmmmmmmmmmmmm</mat-error>
    <button type="submit">submit</button>
    <button type="button" (click)="f.reset({name :'name',email1:'email'})">submit2</button>
</form> -->
<!-----------Reactive Form----------------
<form [formGroup]="myForm2" (ngSubmit)="openForm2()" >
        <input formControlName="name" type="text">
        <input formControlName="email" type="email">
<button type="submit">Submit3</button>
</form>
<!----------------------------------------
<form [formGroup]="myForm" (ngSubmit)="openForm()">
    <div formArrayName="user">
        <input formControlName="0" type="text">
        <input formControlName="1" type="email">
    </div>
<button type="submit">Submit</button>
</form>
<!-----------------Observable//rxjs----------------------->

