
.Enable {
    float: right;
    color: grey;
    margin-right: 20px;
    margin-left: 20px;
}

.Disable {
    background-color: #e91e63;
    float: right;
    color: white;
}

mat-list-item {
    margin: 10px 10px 10px 0px;
}

.add {
   float: right;
    font-size: large;
    font-weight: bold;
    color: white;
    margin:20px;
}
